<!DOCTYPE html>
<html>
    <head>
        <title>テストアプリ</title>
        <script>
            const updateLux = async(url, element) => {
                const sensorData = await fetch(url)
                .then(response => response.text())
                const target = document.getElementById(element)
                target.innerHTML = `<h1>${sensorData}</h1>`
            }
        </script>
    </head>
    <body onLoad="updateLux('/lux','date')">
        <center>
            <div id = "data">test</div>
            <input type ="button" value="更新" onclick="updateLux('/lux','date')">
        </center>
    </body>
</html>
